<%= form_with model: [:admin, book], html: { class: "admin-form" } do |f| %>
  <% if book.errors.any? %>
    <div class="admin-form-errors">
      <strong><%= book.errors.count %> error(s):</strong>
      <ul>
        <% book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="admin-field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, placeholder: "Book title" %>
  </div>

  <div class="admin-field">
    <%= f.label :author, "Author" %>
    <%= f.text_field :author, placeholder: "Author name" %>
  </div>

  <div class="admin-field">
    <%= f.label :total_pages, "Total Pages" %>
    <%= f.number_field :total_pages, placeholder: "Optional" %>
  </div>

  <div class="admin-field">
    <%= f.label :cover_image, "Cover Image" %>
    <%= f.file_field :cover_image %>
  </div>

  <div class="admin-field">
    <label class="admin-field-label">Genres</label>
    <div class="admin-genre-checkboxes">
      <% Genre::GENRES.each do |genre| %>
        <% genre_id = "genre_#{genre.parameterize}" %>
        <%= check_box_tag "book[genre_names][]", genre,
            book.genres.map(&:name).include?(genre),
            id: genre_id %>
        <label for="<%= genre_id %>" class="admin-genre-option"><%= genre %></label>
      <% end %>
    </div>
  </div>

  <div class="admin-form-submit">
    <%= f.submit "Save Book" %>
  </div>
<% end %>
