<h1>Log a Reading Session for <%= @book.title %></h1>

<%= form_with model: [@book, @reading_session] do |f| %>

  <label>
    <%= f.label :read_on %>
    <%= f.date_field :read_on %>
  </label>

  <label>
    <%= f.label :pages_read %>
    <%= f.number_field :pages_read %>
  </label>

  <label>
    <%= f.label :notes, "Note" %>
    <%= f.text_area :notes %>
  </label>
    
  <%= f.submit class: "contrast" %>
<% end %>
