<%= form_with model: book do |f| %>
  <% if book.errors.any? %>
    <article>
      <strong><%= book.errors.count %> error(s) prevented this book from being saved:</strong>
      <ul>
        <% book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <label>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Book title" %>
  </label>

  <label>
    <%= f.label :author %>
    <%= f.text_field :author, placeholder: "Author name" %>
  </label>

  <label>
    <%= f.label :total_pages, "Total Pages" %>
    <%= f.number_field :total_pages, placeholder: "Optional" %>
  </label>

  <label>
    <%= f.label :cover_image, "Cover Image" %>
    <%= f.file_field :cover_image %>
  </label>

  <%= f.submit class: "contrast" %>
<% end %>
