<div class="book-show">
  <div class="book-show-cover">
    <% if @book.cover_image.attached? %>
      <%= image_tag @book.cover_image, class: "book-show-image" %>
    <% else %>
      <div class="book-show-no-cover">📚</div>
    <% end %>
  </div>

  <div class="book-show-info">
    <% if @book.genres.any? %>
      <p class="book-show-genre">
        <% @book.genres.each do |genre| %>
          <span><%= genre.name %></span>
        <% end %>
      </p>
    <% end %>

    <h1 class="book-show-title"><%= @book.title %></h1>
    <p class="book-show-author"><%= @book.author %></p>

    <% if @book.total_pages %>
      <p class="book-show-pages"><%= @book.total_pages %> pages</p>
    <% end %>

    <hr class="book-show-divider">

    <div class="book-show-actions">
      <% if user_signed_in? && !current_user.admin? %>
        <% user_book = current_user.user_books.find_by(book: @book) %>
        <% if user_book %>
          <p class="book-show-status">Reading status: <strong><%= user_book.status.humanize %></strong></p>
          <%= link_to "＋ Log Reading Session", new_book_reading_session_path(@book), class: "btn-cta" %>
        <% else %>
          <%= link_to "＋ Want to Read", new_user_book_path(book_id: @book.id), class: "btn-cta" %>
        <% end %>
      <% end %>

      <% if current_user&.admin? %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn-cta btn-cta-secondary" %>
      <% end %>
    </div>
  </div>
</div>
